body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #808080; /* rosa claro */
}

header {
    background-color: #3a3a3a; /* rosa claro */
    padding: 20px 0;
    text-align: center;
    
}

.logo img {
    width: 100px; /* Ajuste conforme necessário */
    margin-top: 1px;
}

.content {
    max-width: 800px; /* Ajuste conforme necessário */
    margin: 50px auto;
    padding: 20px;
    background-color: #474747; /* branco */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(235, 84, 162, 0.1);
    display: flex;
    align-items: center;
}

.image-left, .image-right {
    flex: 1;
}

.image-left img, .image-right img {
    max-width: 100%;
}

form {
    text-align: center;
}

input[name="nome"],
input[name="tel"],
input[name="senha"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #787878; /* rosa claro */
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #e0f373; /* rosa escuro */
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3b3b3b; /* rosa mais escuro */
}

footer {
    background-color: #000000; /* rosa claro */
    color: #fff;
    text-align: center;
    padding: 10px 0;
}